In [1]:
import pandas as pd # Required for data management
import numpy as np # Required for some computations
import matplotlib.pyplot as plt # Required for plotting

In [3]:
df = pd.read_csv('Woodlands_Piezometer.csv', names=['Y','m','D', 'H', 'M', 'S','DTW_ft', 'DTW_m'], skiprows=1)
qrows = np.concatenate([np.arange(0,10,1),np.arange(-11,-1,1)])
df.iloc[qrows,:]

          Y   M   D   H  DTW_ft      DTW_m
0      2013  10   1   0  154.19  46.997112
1      2013  10   1   1  154.17  46.991016
2      2013  10   1   2  154.17  46.991016
3      2013  10   1   3  154.16  46.987968
4      2013  10   1   4  154.15  46.984920
5      2013  10   1   5  154.13  46.978824
6      2013  10   1   6  154.13  46.978824
7      2013  10   1   7  154.12  46.975776
8      2013  10   1   8  154.11  46.972728
9      2013  10   1   9  154.10  46.969680
34973  2017   9  30  13  135.42  41.276016
34974  2017   9  30  14  135.40  41.269920
34975  2017   9  30  15  135.41  41.272968
34976  2017   9  30  16  135.39  41.266872
34977  2017   9  30  17  135.40  41.269920
34978  2017   9  30  18  135.39  41.266872
34979  2017   9  30  19  135.38  41.263824
34980  2017   9  30  20  135.37  41.260776
34981  2017   9  30  21  135.36  41.257728
34982  2017   9  30  22  135.36  41.257728

In [14]:
df['SerDates'] = pd.to_datetime(df.Y*10000+df.m*100+df.D+df.H+df.M+df.S,format='%Y%m%d%H:%M:%S')
df.iloc[qrows,:]

ValueError: time data 20131001 does not match format '%Y%m%d%H:' (match)